<footer id="footer">
    <style>
        .outer {
            text-align: center;
        }
    </style>
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY' ) %>
                <%= config.author || config.title %>
        </div>
    </div>
</footer>
</div>
</div>