<header id="header">
    <div id="header-outer" class="outer">
        <div id="header-inner" class="inner">
            <nav id="main-nav">
                <ul>
                    <li><a class="main-nav-link" href="/">主页</a></li>
                    <li><a class="main-nav-link" href="/<%= config.archive_dir %>">空间</a></li>
                    <li><a class="main-nav-link" href="/other">其他</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>