<div id="loader">
    <div id="myLoader">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
    </div>
    <div id="loader-mask">
    </div>
</div>