<div class="content">
    <div class="post_name">
        <%- page.title%>
    </div>
    <div class="post_toc">
        <%- toc(page.content); %>
    </div>
    <div class="content_bg">
        <%- page.content %>
    </div>
    <div class="post_time">
        <% if (is_post()) {%>
            <%- date(page.date, "YYYY年MM月DD日 HH:mm" )%>
                <%}%>
    </div>
</div>