<div id="CornerButtons" class="back-to-top--hidden" title="回到顶部">
    <img src="/css/backtotop.svg" alt="返回顶部" class="backToTop">
</div>
<script>
    let cornerButtons = document.querySelector('#CornerButtons');
    let hiddenName = 'back-to-top--hidden';
    cornerButtons.addEventListener('click', BackToTop);
    window.addEventListener('scroll', () => {
        if (document.documentElement.scrollTop > 300) {
            cornerButtons.classList.remove(hiddenName);
        } else {
            cornerButtons.classList.add(hiddenName);
        }
    });

    function BackToTop() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    }

</script>