/*
修改鼠标指针样式
*/

body {
    cursor: url("https://cdn.jsdelivr.net/gh/thisred/CDN@master/img/Arrow.cur"), auto;
}

a,
a * {
    cursor: url("https://cdn.jsdelivr.net/gh/thisred/CDN@master/img/Hand.cur"), auto !important
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6,
p {
    cursor: url("https://cdn.jsdelivr.net/gh/thisred/CDN@master/img/IBeam.cur"), auto;
}

input {
    cursor: url("https://cdn.jsdelivr.net/gh/thisred/CDN@master/img/IBeam.cur"), auto;
}

code {
    cursor: url("https://cdn.jsdelivr.net/gh/thisred/CDN@master/img/IBeam.cur"), auto;
}