#root {
    --loader-color: #005596;
}

#loader {
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    width: 3rem;
    height: 3rem;
    --border-width: 0.3em;
}

.waline-comment-count {
    --border-width: 0.2em;
}

.loader {
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: var(--border-width) solid transparent;
    border-bottom: var(--border-width) solid var(--loader-color);
    border-left: var(--border-width) solid var(--loader-color);
    border-right: var(--border-width) solid var(--loader-color);
    border-radius: 50%;
    -webkit-animation: 1s spin linear infinite;
    animation: 1s spin linear infinite;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
