.content {
    border-radius: 10px;
    box-shadow: 0 0 20px 20px rgb(0 0 0 / 5%);
    animation: ShadowEnter 2s;
    -webkit-animation: ShadowEnter 2s;
}


@keyframes ShadowEnter {
    from {
        box-shadow: 0 0 20px 20px rgb(0 0 0 / 0%);
    }
    to {
        box-shadow: 0 0 20px 20px rgb(0 0 0 / 5%);
    }
}

@-webkit-keyframes ShadowEnter {
    from {
        box-shadow: 0 0 20px 20px rgb(0 0 0 / 0%);
    }
    to {
        box-shadow: 0 0 20px 20px rgb(0 0 0 / 5%);
    }
}

@keyframes ShadowExit {
    from {
        box-shadow: 0 0 20px 20px rgb(0 0 0 / 5%);
    }
    to {
        box-shadow: 0 0 20px 20px rgb(0 0 0 / 0%);
    }
}

@-webkit-keyframes ShadowExit {
    from {
        box-shadow: 0 0 20px 20px rgb(0 0 0 / 5%);
    }
    to {
        box-shadow: 0 0 20px 20px rgb(0 0 0 / 0%);
    }
}