:root {
    --scrollbar-color: #00aae3;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
}

/*— 整个滚动条.*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/*滚动条上的按钮 上下箭头—*/
::-webkit-scrollbar-button {
}

/*滚动条上的滚动滑块.*/
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
    border-radius: 10px;
}

/*— 滚动条轨道.*/
::-webkit-scrollbar-track {
    background-color: transparent;
}

/*— 滚动条没有滑块的轨道部分.*/
::-webkit-scrollbar-track-piece {
    background: rgba(0, 0, 0, 0);
}

/*— 当同时有垂直滚动条和水平滚动条时交汇的部分.*/
::-webkit-scrollbar-corner {
}

/*某些元素的corner部分的部分样式(例:textarea的可拖动按钮).*/
::-webkit-resizer {
}

#CornerButtons {
    -webkit-transition: height .2s ease;
    transition: height .2s ease;
    width: 3em;
    height: 3em;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.backToTop {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 80%);
    border-radius: 50%;
}


.CornerAnimayedFlex--hidden {
    height: 0 !important;
}

body,
div,
h3,
header,
html,
li,
main,
section,
ul {
    margin: 0;
    padding: 0;
    border: 0
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%
}

body {
    font-weight: 400;
    font-family: Microsoft SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: #0065b3;
}

p {
    margin: 1.4em 0;
    line-height: 1.6;
}

h1,
h2,
h3 {
    font: 22px/30px Arial, Helvetica, sans-serif;
}

#header {
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 5%);
}

#main-nav li {
    display: inline-block
}

#header-outer {
    flex: auto;
}

#header-inner {
    margin: auto 0;
    padding: 10px;
}

#header-inner a {
    padding: 10px;
}

#header-title {
    display: inherit;
}

#logo-wrap {
    font-size: 24px;
    font-weight: 800;
}

.head {
    border-radius: 15%;
    width: 72px;
    height: 72px;
    transition: .3s ease;
    position: absolute;
    border: solid 2px #00178b29;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px;
}

.header_img {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    position: relative;
}

.head:hover {
    width: 80px;
    height: 80px;
    -webkit-animation: beat .3s ease-in-out infinite alternate;
    animation: beat .3s ease-in-out infinite alternate;
    animation-iteration-count: 1;
    transition: all 0.3s linear;
}

@keyframes beat {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    20% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    60% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    80% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.blog_create {
    padding: 10px;
    text-align: center;
    height: 20px;
}

.post {
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    border-radius: 12px;
}

.posts {
}

.post_name {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.post_info {
    text-align: center;
    font-size: small;
    color: #9195A3;
    margin-bottom: 5%;
}

.readmore {
    text-align: center;
}

/* table{border-collapse:collapse;border-spacing:0} */
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
}

#page {
    margin: auto;
    display: table;
    text-align: center;
}

#page .fa {
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    background: rgb(0 0 0 / 5%);
    margin-right: 12px;
    border-radius: 5px;
}

#page .fa:hover {
    background: #4e6ef2;
    color: #fff;
}

#page .page-number {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-right: 12px;
    background: rgb(0 0 0 / 5%);
    border-radius: 5px;
}

#page .page-number:hover {
    background: #4e6ef2;
    color: #fff;
}

#page .current {
    background: #4e6ef2;
    color: #fff;
    font-weight: normal;
    border: none;
}

.outer {
    text-align: center;
    font-size: 14px;
}

#footer {
    padding: 50px 0;
    color: #999;
}


/*-----------------------------------------------------------------------------------------------*/

.l-wrapper {
    max-width: 2600px;
    margin: 3% auto
}

.l-container {
    position: relative;
    margin-left: auto;
    margin-right: auto
}

.l-container--large {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%
}

.s-wrapper {
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    clear: both
}

.s-content {
    position: relative
}

.s-list {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0
}

.s-list__item {
    display: block;
    padding: 8px;
}

/*自适应手机端*/
@media (max-width: 768px) {
    #header {
        box-shadow: 0 0 10px 10px rgb(0 0 0 / 5%);
    }

    .content {
        width: 100% !important;
        box-shadow: none !important;
        animation: none !important;
        -webkit-animation: none !important;
    }

    .content_bg {
        padding: 0 0 0 0 !important;
        border-left: 10px !important;
        border-right: 10px !important;
    }

    .s-list__item {
        width: 50%;
    }

    .s-list__item:first-child {
        width: 100%;
    }

    .s-list__item:nth-child(6) {
        width: 100%;
    }

    .s-list__item:last-child {
        width: 100%;
    }
}


/* 自适应ipad竖屏 ： */
@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) and (orientation: portrait) {
    .content_bg {
        padding: 0 0 0 0 !important;
        border-left: 10px !important;
        border-right: 10px !important;
    }
}

/* 自适应ipad横屏 ： */
@media only screen and (min-device-width: 768px) and (max-device-width: 1180px) and (orientation: landscape) {
    .content_bg {
        padding: 0 0 0 0 !important;
        border-left: 10px !important;
        border-right: 10px !important;
    }
}

@media (min-width: 768px) {
    .s-list__content {
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0
    }
}

@media screen and (min-width: 768px) and (max-width: 1180px) {
    .s-list__item {
        min-width: auto;
        width: 25%;
    }

    .s-list__item:first-child {
        width: 50%;
    }
}

/*大于1180px就转换为grid布局*/
@media (min-width: 1180px) {
    .s-list__content {
        display: grid !important;
        grid-column: span 6;
        grid-template-columns: repeat(6, 1fr);
    }

    .s-list--full .s-list__content {
        width: 100%
    }

    .s-list__item {
        width: 100%;
    }

    .c-card__text {
        display: block !important;
    }

    .hide-area {
        display: block !important;
    }
}

.s-list__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0
}

.s-list__item {
    position: relative
}

.s-list__item:last-child {
    margin-right: 0
}

.c-card {
    position: relative
}

.c-image__overlay {
    /*border: 3px rgba(0, 0, 0, 0.03) inset;*/
    display: block;
    height: 100%;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .03), -1px 1px 0 rgba(0, 0, 0, .03), 1px -1px 0 rgba(0, 0, 0, .03), -1px -1px 0 rgba(0, 0, 0, .03);
    transition: box-shadow .6s cubic-bezier(.43, .195, .02, 1);
    margin-top: 2px
}

.panel .c-image__overlay {
    box-shadow: 1px 1px 0 transparent, -1px 1px 0 transparent, 1px -1px 0 transparent, -1px -1px 0 transparent
}

.c-image__overlay:focus,
.c-image__overlay:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05), 0 2px 3px rgba(0, 0, 0, .05), 0 4px 6px rgba(0, 0, 0, .05), 0 8px 12px rgba(0, 0, 0, .05), 0 12px 24px rgba(0, 0, 0, .05)
}

.c-card__title {
    font-size: calc(12px + (715vw - 2286px) / 1600);
    line-height: 20px;
    margin-top: 0;
    font-family: Microsoft SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300;
    overflow: hidden;
    max-width: 100%;
    height: 40px;
}

.comments-count {
    padding-right: 20px;
    height: 20px;
}

.comment-svg {
    height: 100%;
    display: inline-block;
}

.waline-comment-count {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2.5px;
}

.c-card__text {
    font-size: calc(1px + (715vw - 2286px) / 1600);
    color: #000;
    display: none;
    margin-bottom: 10px;
    max-height: 12vw;
    overflow: hidden;
}

.hide-area {
    display: none;
    position: relative;
    z-index: 888;
    padding-top: 150px;
    margin-top: -150px;

    width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(100%, #fff));
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.c-card__excerpt img {
    width: 100%;
}

.c-card__cta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.c-card__cta {
    font-size: calc(10px + (200vw - 640px) / 1600);
    line-height: 15px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    color: rgba(0, 0, 0, 0.6);
}

.post-tags {

}

.post-tag {
    display: inline-block;
}

.c-card__header .c-card__cta:after {
    display: block;
}

.c-card--article {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
}

.c-card--article .c-card__header {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    box-sizing: border-box
}

.c-card--article .c-card__header > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box
}

.c-card--article .c-card__header:before {
    position: relative;
    display: block;
    content: "";
    padding-top: 55%;
    box-sizing: border-box
}

.c-card--article .c-image {
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
}

.c-card--article .c-card__content,
.c-card--article .c-card__content-wrap {
    height: 100%
}

.c-card--article .c-card__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 15px 15px;
}

.c-card--article .c-card__title:before {
    padding-bottom: 25%;
    content: "";
    float: left
}

.c-card--article .c-card__title:after {
    display: table;
    content: "";
    clear: both
}

.c-card--article .c-card__date {
    color: #000;
    font-size: calc(10px + (200vw - 640px) / 1600);
    margin-bottom: 10px
}

.c-image {
    width: 100%
}

.c-image img {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.c-image__overlay {
    position: relative
}

.c-image__overlay:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 76%, .15)
}

.c-slider__arrows > :focus {
    outline: 2px dashed #000
}