/* 嗝 */

* {
    box-sizing: border-box
}

@-ms-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

header,
main,
section {
    display: block
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 100%;
    -webkit-tap-highlight-color: transparent
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    min-width: 320px
}

body,
div,
h3,
header,
html,
li,
main,
section,
ul {
    margin: 0;
    padding: 0;
    border: 0
}

ul {
    list-style: none
}

h3 {
    font-weight: 400;
    text-rendering: optimizeLegibility
}

.u-sep-pipe>:after {
    content: "|";
    display: inline;
    padding: 0 3px
}

.u-sep-slash>:after {
    content: "/";
    padding: 0 7px
}

.u-sep-comma>:after {
    content: ",";
    display: inline;
    padding: 0
}

.u-sep-dash>:after {
    content: " - ";
    display: inline;
    padding: 0
}

.u-sep-dot>:after {
    content: "";
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #848484;
    display: inline-block;
    position: relative;
    bottom: 3px;
    margin: 0 10px
}

body,
html {
    background: #fff
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%
}

body {
    font-weight: 400;
    font-family: Microsoft SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #000
}

.l-wrapper {
    max-width: 2600px;
    margin: 0 auto
}

.l-container {
    position: relative;
    margin-left: auto;
    margin-right: auto
}

.l-container--large {
    width: 100%;
    padding-left: 7.29167%;
    padding-right: 7.29167%
}

.s-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
    clear: both
}

@media (min-width:854px) {
    .s-wrapper {
        padding-top: 22px
    }
}

@media (min-width:1390px) {
    .s-wrapper {
        padding-top: 24px
    }
}

@media (min-width:1920px) {
    .s-wrapper {
        padding-top: 26px
    }
}

@media (min-width:854px) {
    .s-wrapper {
        padding-bottom: 22px
    }
}

@media (min-width:1390px) {
    .s-wrapper {
        padding-bottom: 24px
    }
}

@media (min-width:1920px) {
    .s-wrapper {
        padding-bottom: 26px
    }
}

@media (min-width:768px) {
    .s-wrapper {
        padding-top: 40px;
        padding-bottom: 30px
    }
}

@media (min-width:768px) and (min-width:854px) {
    .s-wrapper {
        padding-top: 44px
    }
}

@media (min-width:768px) and (min-width:1390px) {
    .s-wrapper {
        padding-top: 48px
    }
}

@media (min-width:768px) and (min-width:1920px) {
    .s-wrapper {
        padding-top: 52px
    }
}

@media (min-width:768px) and (min-width:854px) {
    .s-wrapper {
        padding-bottom: 33px
    }
}

@media (min-width:768px) and (min-width:1390px) {
    .s-wrapper {
        padding-bottom: 36px
    }
}

@media (min-width:768px) and (min-width:1920px) {
    .s-wrapper {
        padding-bottom: 39px
    }
}

.s-content {
    position: relative
}

.s-list {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0
}

@media (min-width:600px) {
    .s-list {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: auto;
        text-align: left;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -2.43902%
    }
}

.s-list__item {
    display: block;
    min-width: 87.5%;
    padding-right: 9%;
    padding-left: 0
}

@media (min-width:600px) {
    .s-list__item {
        min-width: auto;
        width: 45.34884%;
        margin-left: 2.32558%;
        margin-right: 2.32558%;
        padding-right: 0
    }
}

@media (min-width:960px) {
    .s-list__item {
        width: 28.66279%
    }
}

@media (min-width:1260px) {
    .s-list__item {
        width: 20.34884%
    }
}

.s-list__content {
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    width: 118%;
    padding-left: 9%;
    padding-right: 9%;
    margin-left: -9%;
    margin-right: 0
}

@media (min-width:600px) {
    .s-list__content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0
    }
}

@media (min-width:960px) {
    .s-list__content {
        width: 66.62791%
    }
}

@media (min-width:1260px) {
    .s-list__content {
        width: 75%
    }
}

.s-list__item {
    margin-bottom: 30px;
    position: relative
}

@media (min-width:854px) {
    .s-list__item {
        margin-bottom: 33px
    }
}

@media (min-width:1390px) {
    .s-list__item {
        margin-bottom: 36px
    }
}

@media (min-width:1920px) {
    .s-list__item {
        margin-bottom: 39px
    }
}

@media (min-width:600px) {
    .s-list__item {
        margin-bottom: 50px
    }
}

@media (min-width:600px) and (min-width:854px) {
    .s-list__item {
        margin-bottom: 55px
    }
}

@media (min-width:600px) and (min-width:1390px) {
    .s-list__item {
        margin-bottom: 60px
    }
}

@media (min-width:600px) and (min-width:1920px) {
    .s-list__item {
        margin-bottom: 65px
    }
}

.s-list__item:last-child {
    margin-right: 0
}

@media (min-width:960px) {
    .s-list--full .s-list__content {
        width: 100%
    }
}

::-webkit-input-placeholder {
    color: grey;
    opacity: 1;
    letter-spacing: normal;
    text-transform: none;
    font: normal 400 16px/inherit Microsoft SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif
}

:-moz-placeholder,
::-moz-placeholder {
    color: grey;
    opacity: 1;
    letter-spacing: normal;
    text-transform: none;
    font: normal 400 16px/inherit Microsoft SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif
}

:-ms-input-placeholder {
    color: grey;
    opacity: 1;
    letter-spacing: normal;
    text-transform: none;
    font: normal 400 16px/inherit Microsoft SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif
}

.c-card {
    background-color: #fff;
    position: relative
}

.c-card__link {
    display: block;
    height: 100%;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .03), -1px 1px 0 rgba(0, 0, 0, .03), 1px -1px 0 rgba(0, 0, 0, .03), -1px -1px 0 rgba(0, 0, 0, .03);
    transition: box-shadow .6s cubic-bezier(.43, .195, .02, 1);
    margin-top: 2px
}

.panel .c-card__link {
    box-shadow: 1px 1px 0 transparent, -1px 1px 0 transparent, 1px -1px 0 transparent, -1px -1px 0 transparent
}

.c-card__link:focus,
.c-card__link:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05), 0 2px 3px rgba(0, 0, 0, .05), 0 4px 6px rgba(0, 0, 0, .05), 0 8px 12px rgba(0, 0, 0, .05), 0 12px 24px rgba(0, 0, 0, .05)
}

.article--dark .c-card__link:focus,
.article--dark .c-card__link:hover {
    outline: 2px dashed #f4f4f4
}

.c-card__link:active,
.c-card__link:focus {
    outline: 2px dashed;
    color: inherit
}

.panel.panel--type-wysiwyg-related-post .c-card__link {
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .03), -1px 1px 0 rgba(0, 0, 0, .03), 1px -1px 0 rgba(0, 0, 0, .03), -1px -1px 0 rgba(0, 0, 0, .03)
}

@media (min-width:768px) {
    .panel.panel--type-wysiwyg-related-post .c-card__link:focus,
    .panel.panel--type-wysiwyg-related-post .c-card__link:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05), 0 2px 3px rgba(0, 0, 0, .05), 0 4px 6px rgba(0, 0, 0, .05), 0 8px 12px rgba(0, 0, 0, .05), 0 12px 24px rgba(0, 0, 0, .05)
    }
}

.c-card__title {
    font-size: calc(12.85714px + (714.28571vw - 2285.71429px)/1600);
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: Microsoft SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 300
}

@media (min-width:854px) {
    .c-card__title {
        line-height: 22px
    }
}

@media (min-width:1390px) {
    .c-card__title {
        line-height: 24px
    }
}

@media (min-width:1920px) {
    .c-card__title {
        line-height: 26px
    }
}

@media (min-width:854px) {
    .c-card__title {
        margin-bottom: 11px
    }
}

@media (min-width:1390px) {
    .c-card__title {
        margin-bottom: 12px
    }
}

@media (min-width:1920px) {
    .c-card__title {
        margin-bottom: 13px
    }
}

.c-card__excerpt img {
    width: 100%;
}

.c-card__cta {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.c-card__cta {
    font-size: calc(11px + (200vw - 640px)/1600);
    line-height: 10px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    color: #000
}

@media (min-width:854px) {
    .c-card__cta {
        line-height: 11px
    }
}

@media (min-width:1390px) {
    .c-card__cta {
        line-height: 12px
    }
}

@media (min-width:1920px) {
    .c-card__cta {
        line-height: 13px
    }
}

.c-card__link .c-card__cta:after {
    display: block;
}

.c-card__cta:after {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.3 18.1'%3E%3Cpath d='M15.1 0l-1 .9 7.5 7.5H0v1.4h21.6l-7.5 7.4 1 .9 9.2-9z'/%3E%3C/svg%3E") no-repeat 50%/16px 12px;
    content: "";
    display: none;
    height: 12px;
    width: 16px;
    padding-left: 10px;
    margin-left: auto
}

.c-card--article {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.c-card--article .c-card__header {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    box-sizing: border-box
}

.c-card--article .c-card__header>* {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box
}

.c-card--article .c-card__header:before {
    position: relative;
    display: block;
    content: "";
    padding-top: 75%;
    box-sizing: border-box
}

.c-card--article .c-image {
    overflow: hidden;
    width: 100%;
}

.c-card--article .c-card__content,
.c-card--article .c-card__content-wrap {
    height: 100%
}

.c-card--article .c-card__content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 20px 30px
}

@media (min-width:854px) {
    .c-card--article .c-card__content {
        padding-top: 22px;
        padding-bottom: 22px
    }
}

@media (min-width:1390px) {
    .c-card--article .c-card__content {
        padding-top: 24px;
        padding-bottom: 24px
    }
}

@media (min-width:1920px) {
    .c-card--article .c-card__content {
        padding-top: 26px;
        padding-bottom: 26px
    }
}

.c-card--article .c-card__title:before {
    padding-bottom: 25%;
    content: "";
    float: left
}

.c-card--article .c-card__title:after {
    display: table;
    content: "";
    clear: both
}

.c-card--article .c-card__date {
    color: #000;
    font-size: calc(11px + (200vw - 640px)/1600);
    margin-bottom: 10px
}

@media (min-width:854px) {
    .c-card--article .c-card__date {
        margin-bottom: 11px
    }
}

@media (min-width:1390px) {
    .c-card--article .c-card__date {
        margin-bottom: 12px
    }
}

@media (min-width:1920px) {
    .c-card--article .c-card__date {
        margin-bottom: 13px
    }
}

.c-image {
    width: 100%
}

.c-image img {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.c-image__overlay {
    position: relative
}

.c-image__overlay:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 76%, .15)
}

.c-slider__arrows>:focus {
    outline: 2px dashed #000
}

@media (min-width:1000px) {
    .site-panel--hero-slider .c-slider__arrows>:focus {
        opacity: 1;
        transition: opacity .3s
    }
    .site-panel--hero-slider .c-slider__arrows>:focus {
        opacity: 1;
        transition: opacity .3s
    }
}


/*# sourceMappingURL=master.min.css.map */